.wrap {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(34, 35, 53, 0.6),
      rgba(34, 35, 53, 0.7)
    ),
    url(https://beratung.de/res/img/ratgeber/4f320c43-45fa-4614-827a-03a98564ba32-Hausverwaltungen-Deutschland-Hausverwaltungen-Kosten-fr-Eigentmer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 45px;
  font-weight: 700;
  color: #ebd8ff;
}
